<a href="https://colab.research.google.com/github/rohitjain0275/DA_PW/blob/main/PY_PANDAS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **What is PANDAS?**

1. Most popular Python library for data analysis
2. Pandas is a Python library used for working with data sets.
3. It has functions for 
      - Analyzing, 
      - Cleaning, 
      - Exploring, 
      - Manipulating data..
4. Pandas is built on top of the Numpy package, means Numpy is required for operating the Pandas.

# **What's Pandas for??**
1. Pandas allows us to analyze big data and make conclusions based on statistical theories.
2. Calculate statistics and answer questions about the data, like -
    - What's the average, median, max, or min of each column?
    - Does column A correlate with column B?
    - What does the distribution of data in column C look like?
3. Clean the data by doing things like removing missing values and filtering rows or columns by some criteria
4. Visualize the data with help from Matplotlib. Plot bars, lines, histograms, bubbles, and more.
5. Store the cleaned, transformed data back into a CSV, other file or database

6. Pandas can clean messy data sets, and make them readable and relevant.

# How to read/Import file in python? ==> **read_csv/excel**

In [13]:
import pandas as pd
import numpy as np

In [51]:
import pandas as pd

data = {
  "Duration":{
    "0":60,
    "1":60,
    "2":60,
    "3":45,
    "4":45,
    "5":60
  },
  "Pulse":{
    "0":110,
    "1":0,
    "2":0,
    "3":109,
    "4":117,
    "5":102
  },
  "Maxpulse":{
    "0":130,
    "1":145,
    "2":135,
    "3":175,
    "4":0,
    "5":0
  },
  "Calories":{
    "0":409.1,
    "1":479.0,
    "2":340.0,
    "3":282.4,
    "4":406.0,
    "5":0
  }
}

df = pd.DataFrame(data)

print(df)

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60      0       145     479.0
2        60      0       135     340.0
3        45    109       175     282.4
4        45    117         0     406.0
5        60    102         0       0.0

# **Pandas Commands** -

**df.head()** - method for viewing the TOP rows of the DataFrame.

**df.tail(3)** -method for viewing the LAST rows of the DataFrame.

**df.columns** -Give the name of column with datatype

**df.index** -Give the index with datatype

**df.info()**- hat gives you more information about the data set

**df.shape** - which outputs just a tuple of (rows, columns):

**df.describe()** - method returns description of the data in the DataFrame. and computes and displays summary statistics for a Python dataframe

**del df1["Pulse"]** - Del specific column

**df1 = df1.drop(["AB"],axis=0)**  AB row deleted  **axis=0 ==> play with row**

**df1 = df1.drop(["BC"],axis=1)**  BC Col deleted **axis=1 ==> Play with col**

**DIFF Betwenn del and drop** -

**drop** delete col only from ref table

**Del** delete col from both ref and original table

In [19]:
df.head(3) #Gives top rows, default is 5 rows

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60      0       145     479.0
2        60      0       135     340.0

In [20]:
df.tail(3) #Gives last rows, default is 5 rows

   Duration  Pulse  Maxpulse  Calories
3        45    109       175     282.4
4        45    117         0     406.0
5        60    102         0       0.0

In [27]:
df.columns  # Give the name of column with datatype

Index(['Duration', 'Pulse', 'Maxpulse', 'Calories'], dtype='object')

In [24]:
df.index

Index(['0', '1', '2', '3', '4', '5'], dtype='object')

In [32]:
df.info()    #info(), that gives you more information about the data set

<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  6 non-null      int64
 1   Pulse     6 non-null      int64
 2   Maxpulse  6 non-null      int64
 3   Calories  6 non-null      float64
dtypes: float64(1), int64(3)
memory usage: 412.0+ bytes

In [29]:
df.shape

(6, 4)

In [30]:
df.describe()

        Duration       Pulse    Maxpulse    Calories
count   6.000000    6.000000    6.000000    6.000000
mean   55.000000   73.000000   97.500000  319.416667
std     7.745967   56.745044   77.120036  170.192555
min    45.000000    0.000000    0.000000    0.000000
25%    48.750000   25.500000   32.500000  296.800000
50%    60.000000  105.500000  132.500000  373.000000
75%    60.000000  109.750000  142.500000  408.325000
max    60.000000  117.000000  175.000000  479.000000

In [52]:
df1 = df

In [53]:
df1

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60      0       145     479.0
2        60      0       135     340.0
3        45    109       175     282.4
4        45    117         0     406.0
5        60    102         0       0.0

In [54]:
del df1["Pulse"]

In [39]:
del df1["Maxpulse"]

In [61]:
print(df1)
print(df)

   Maxpulse  Calories
0       130     409.1
1       145     479.0
2       135     340.0
3       175     282.4
4         0     406.0
5         0       0.0
   Duration  Maxpulse  Calories
0        60       130     409.1
1        60       145     479.0
2        60       135     340.0
3        45       175     282.4
4        45         0     406.0
5        60         0       0.0

In [63]:
df1 = df1.drop(["Calories"],axis=1)
df1

   Maxpulse
0       130
1       145
2       135
3       175
4         0
5         0

In [64]:
df1 = df1.drop(["0"],axis=0)  
df1

   Maxpulse
1       145
2       135
3       175
4         0
5         0

In [65]:
print(df1) # drop delete col only from both ref table
print(df) # Del delete col from both ref and original table

   Maxpulse
1       145
2       135
3       175
4         0
5         0
   Duration  Maxpulse  Calories
0        60       130     409.1
1        60       145     479.0
2        60       135     340.0
3        45       175     282.4
4        45         0     406.0
5        60         0       0.0

# **Accessing elements**

**loc** is label-based, which means that we have to specify the name of the rows and columns that we need to filter out.

**iloc** is integer index-based. So here, we have to specify rows and columns by their integer index.

In [66]:
import pandas as pd

data = {
  "Duration":{
    "0":60,
    "1":60,
    "2":60,
    "3":45,
    "4":45,
    "5":60
  },
  "Pulse":{
    "0":110,
    "1":0,
    "2":0,
    "3":109,
    "4":117,
    "5":102
  },
  "Maxpulse":{
    "0":130,
    "1":145,
    "2":135,
    "3":175,
    "4":0,
    "5":0
  },
  "Calories":{
    "0":409.1,
    "1":479.0,
    "2":340.0,
    "3":282.4,
    "4":406.0,
    "5":0
  }
}

df2 = pd.DataFrame(data)

print(df2)

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60      0       145     479.0
2        60      0       135     340.0
3        45    109       175     282.4
4        45    117         0     406.0
5        60    102         0       0.0

In [70]:
df2.iloc[:]

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60      0       145     479.0
2        60      0       135     340.0
3        45    109       175     282.4
4        45    117         0     406.0
5        60    102         0       0.0

In [74]:
df2.iloc[2:4,1:3]

   Pulse  Maxpulse
2      0       135
3    109       175

In [79]:
df2.loc["0":"2",["Duration","Pulse"]]

   Duration  Pulse
0        60    110
1        60      0
2        60      0

# **STATs COMMAND**
**df2['COL'].unique()**  ==> Gives unique elemnt from specified col

**df2['COL'].value_counts()** ==> Gives Count for elemnt from specified col

**df2['COL'].mean()** ==> Gives mean of specified col

**df2['COL'].max()**  ==> Gives max elemnt from specified col

**df2['COL'].()**  ==> 

**df2['COL'].min()**  ==> Gives min elemnt from specified col

In [81]:
df2['Duration'].unique()

array([60, 45])

In [82]:
df2['Duration'].value_counts()

60    4
45    2
Name: Duration, dtype: int64

In [83]:
df2['Pulse'].min()

0

In [84]:
df2['Pulse'].max()

117

In [88]:
df2["Duration"].mean()

55.0

# **Adv Commands**

**df2 = df2.replace(0,np.nan)**  ==> replacing 0 with nan

**df2.isnull()** ==> Gives boolean value 
 
**df2.isnull().sum()**  ==> Gives null values cound

**df2.dropna(axis = 0)** ==> if any nan value found in row, entire row is deleted

**df2.dropna(axis = 1)** ==> if any nan value found in Col, entire Col is deleted

**df2.fillna(df2.mean())** ==> Add a value instead of dropping nan
Ex - df2.fillna(32)

In [91]:
df2 = df2.replace(0,np.nan)

In [92]:
df2

   Duration  Pulse  Maxpulse  Calories
0        60  110.0     130.0     409.1
1        60    NaN     145.0     479.0
2        60    NaN     135.0     340.0
3        45  109.0     175.0     282.4
4        45  117.0       NaN     406.0
5        60  102.0       NaN       NaN

In [93]:
df2.isnull()

   Duration  Pulse  Maxpulse  Calories
0     False  False     False     False
1     False   True     False     False
2     False   True     False     False
3     False  False     False     False
4     False  False      True     False
5     False  False      True      True

In [94]:
df2.isnull().sum()

Duration    0
Pulse       2
Maxpulse    2
Calories    1
dtype: int64

In [96]:
df2.dropna(axis=0)

   Duration  Pulse  Maxpulse  Calories
0        60  110.0     130.0     409.1
3        45  109.0     175.0     282.4

In [97]:
df2.dropna(axis=1)

   Duration
0        60
1        60
2        60
3        45
4        45
5        60

In [101]:
df2 = df2.fillna(df2.mean())

In [102]:
df2

   Duration  Pulse  Maxpulse  Calories
0        60  110.0    130.00     409.1
1        60  109.5    145.00     479.0
2        60  109.5    135.00     340.0
3        45  109.0    175.00     282.4
4        45  117.0    146.25     406.0
5        60  102.0    146.25     383.3

In [105]:
df2.corr()

          Duration     Pulse  Maxpulse  Calories
Duration  1.000000 -0.570282 -0.713200  0.452544
Pulse    -0.570282  1.000000 -0.060630  0.146844
Maxpulse -0.713200 -0.060630  1.000000 -0.565164
Calories  0.452544  0.146844 -0.565164  1.000000

In [106]:
df2["Maxpulse"].hist()